.stories.container 
    .stories__item
        h1 Full Wedding Stories
        h3 EXPLORE OUR FAVOURITE ALBUMS
        p It is highly important for us that our future clients understand what they would invest in when hiring us. Therefore we present you with examples of full weddings we covered. Depending on the package, these examples include photos from the entire event, short edited videos as well as hard cover photo albums and printed canvases.
    .stories__item
        h1 Full Wedding Stories
        h3 EXPLORE OUR FAVOURITE ALBUMS
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident amet neque quo vitae corporis repudiandae. Enim, eius! Et iste magnam saepe praesentium fugit molestias nobis pariatur illo sed. Eos, harum? 
    .stories__item
        h1 Full Wedding Stories
        h3 EXPLORE OUR FAVOURITE ALBUMS
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae aspernatur, iusto laudantium eum doloremque atque hic asperiores veniam accusantium mollitia nemo? Amet error aliquid quod. Quod nam harum ducimus commodi.
    .stories__item
        h1 Full Wedding Stories
        h3 EXPLORE OUR FAVOURITE ALBUMS
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, cumque beatae voluptatibus saepe fugit sunt ipsa autem unde quidem, a voluptatem porro nemo nihil tempora sint doloribus eligendi itaque dignissimos! 
    .stories__item
        h1 Full Wedding Stories
        h3 EXPLORE OUR FAVOURITE ALBUMS
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores unde tempora magni saepe distinctio, porro debitis reprehenderit velit inventore eveniet repellendus sit, perferendis fugiat, dignissimos optio magnam qui quod reiciendis.


.stories__links 
    .stories__links-item
        img(src=require("/assets/img/stories_1.png"), alt="")
        .stories__links-item-text
            h3 SAMANEH & MARCO
            span.text-italic An elegant Persian wedding celebrated at the OMNI Hotel Downtown Toronto
            a(href="/pages/packages.html") 
                button view more
    .stories__links-item
        img(src=require("/assets/img/stories_1.png"), alt="")
        .stories__links-item-text
            h3 ALEX & DJON
            span.text-italic An elegant Persian wedding celebrated at the OMNI Hotel Downtown Toronto
            a(href="/pages/packages.html") 
                button view more
    .stories__links-item
        img(src=require("/assets/img/stories_1.png"), alt="")
        .stories__links-item-text
            h3 LEONARD & FEONA
            span.text-italic An elegant Persian wedding celebrated at the OMNI Hotel Downtown Toronto
            a(href="/pages/packages.html") 
                button view more
    .stories__links-item
        img(src=require("/assets/img/stories_1.png"), alt="")
        .stories__links-item-text
            h3 GORDON & MILA
            span.text-italic An elegant Persian wedding celebrated at the OMNI Hotel Downtown Toronto
            a(href="/pages/packages.html") 
                button view more
    .stories__links-item
        img(src=require("/assets/img/stories_1.png"), alt="")
        .stories__links-item-text
            h3 SAMANEH & MARCO
            span.text-italic An elegant Persian wedding celebrated at the OMNI Hotel Downtown Toronto
            a(href="/pages/packages.html") 
                button view more
    